<section class="image-banner-{{ section.id }} position-relative text-white d-flex align-items-center justify-content-center">
  {% if section.settings.image %}
    <img
      src="{{ section.settings.image | image_url: width: 2000 }}"
      alt="{{ section.settings.heading | escape }}"
      width="auto"
      height="auto">
  {% else %}
    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder_svg' }}
  {% endif %}
</section>

{% schema %}
  {
    "name": "Image Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}